@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    /* Disamakan agar Tailwind v4 memetakan font-family dengan benar */
    --font-poppins: 'Poppins-Regular', sans-serif;
    --font-poppins-semibold: 'Poppins-SemiBold', sans-serif;
    --font-poppins-bold: 'Poppins-Bold', sans-serif;
    
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url('../../public/font/poppins/Poppins-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('../../public/font/poppins/Poppins-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('../../public/font/poppins/Poppins-Bold.ttf') format('truetype');
}